<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>554358743244-litrmh3mjkkj4kqekfc8pda2bpj0ns6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554358743244-litrmh3mjkkj4kqekfc8pda2bpj0ns6b</string>
	<key>API_KEY</key>
	<string>AIzaSyDHBupYiz63iXwj1YvfWLqSbn02JmPFMyI</string>
	<key>GCM_SENDER_ID</key>
	<string>554358743244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.t5online.demo.SearchBook</string>
	<key>PROJECT_ID</key>
	<string>searchbook-530a4</string>
	<key>STORAGE_BUCKET</key>
	<string>searchbook-530a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:554358743244:ios:7199deada04f3f2d</string>
	<key>DATABASE_URL</key>
	<string>https://searchbook-530a4.firebaseio.com</string>
</dict>
</plist>